body{
    background: url(../img/jungle.jpg) no-repeat;
    background-size: cover;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    text-align: left;
}

:root {
    --orange-color: #d38c0b;
    --jaune-color: #186611;
    --cyan-color: #0ec2f7;
    --vert-color: #06a537;  
}

.wrapper{
    margin: auto;
    max-width: 1224px;
}


/****************** HOME PICTURE DIV   *********/
.section_bg_img{
    background: url(../img/jungle.jpg);
    background-size: cover;
    height: 55em;
}

/********************  Reservation form ****************/ 

.section_reservation{
    margin-top: -20em;
}

.reservation_div{
    position: relative;
    z-index: 2;
}
.reservation_flex{
    display: flex;
    align-items: flex-end;
}

.container_info{
    padding: 3em;
    background-color: black;
    width: 60%;
}
.info{
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}

/******* Form Reservation ******/ 
.container_reservation_form{
    background-color: rgba(1 ,42 ,20 , 1);
    padding: 1.5rem;
    width: 40%;
    
}

.reservation_form .container_input{
    position: relative;
    width: 100%;
    display: block;
    margin-bottom: 1em;
}
/*****  inputs *****/
.reservation_form .reserv_inputs{
    width: 100%;
    border: transparent ;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) ;
    height: 58px ;
    padding-left: 0;
    background: transparent ;
    color: white;
    font-size: 13px;
}
.reservation_form .reserv_inputs::placeholder {
    color: white;
    font-size: 15px;
}

.container_input_icon{
    position: relative;
}


.reservation_form .container_input .icon{
    position: absolute;
    top: 50% ;
    right: 10px;
    transform: translateY(-50%);
}
.reservation_form .container_input .icon i{
    font-size: 20px;
}

.btn_valide{
    width: 100%;
    cursor: pointer;
    background: #fff;
    border: 1px solid #fff;
    color: #000;
}


/*********** DATE PICKER ****************/

.input-group {
    border-radius: 5px;
}

input.form-control {
    border-radius: 5px 0 0 5px;
    border: solid 1px rgba(0,0,0,.15);
    border-right: none;
}

input.form-control:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.15);
}

input.form-control::placeholder {
    font-family: 'Open sans', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
}

.input-group-append {
    border: solid 1px rgba(0,0,0,.15);
    border-left: none;
    border-radius: 0 5px 5px 0;
}

.input-group-text {
    border-radius: 0 5px 5px 0;
    color: #04c;
    background-color: #fff;
    border: none;
}

.required::after {
    content:"*";
    color:red;
    font-size:1.15em;
 }

/*
*
* ==========================================
* PERSONNALISATION DU CALENDRIER
* ==========================================
*
*/


.datepicker-dropdown {
    top: 0;
    margin: 1.5em 0 1.5em -3em;
}

.datepicker-dropdown.datepicker-orient-left:before {
    left: calc(50% - 6px) !important
}

.datepicker-dropdown.datepicker-orient-left:after {
    left: calc(50% - 5px) !important
}

.datepicker table tr td.today,
span.focused {
    border-radius: 50% !important;
    background-image: linear-gradient(#FFF3E0, #FFE0B2)
}

.datepicker table tr td.today.range {
    background-image: linear-gradient(#eeeeee, #eeeeee) !important;
    border-radius: 0 !important
}

thead tr:nth-child(3) th {
    font-weight: bold !important;
    padding-top: 10px;
    padding-bottom: 10px
}

.old,
.day,
.new {
    width: 40px !important;
    height: 40px !important;
    border-radius: 0px !important;
    border: 1px solid lightgrey !important
}

.day.old,
.day.new {
    background-color: #F5F5F5 !important;
    color: #E0E0E0 !important
}

.day.old:hover,
.day.new:hover {
    border-radius: 0px !important
}

.old-day:hover,
.day:hover,
.new-day:hover,
.month:hover,
.year:hover,
.decade:hover,
.century:hover {
    border-radius: 50% !important;
    background-color: #eee
}

.active {
    border-radius: 50% !important;
    background-image: linear-gradient(#90CAF9, #64B5F6) !important;
    color: #fff !important
}

.range-start,
.range-end {
    border-radius: 50% !important;
    background-image: linear-gradient(#4CAF50, #4CAF50) !important
}

.prev,
.next,
.datepicker-switch {
    border-radius: 0 !important;
    padding: 10px 10px 10px 10px !important;
    font-size: 18px;
    opacity: 0.7;
    color: #4CAF50
}

.prev:hover,
.next:hover,
.datepicker-switch:hover {
    background-color: inherit !important;
    opacity: 1
}


/********** Jour Nuit *****************/
/* ***** Colors - Start ***** */
/* ***** Colors - End ***** */
/* ***** Global Styles - Start ***** */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ***** Global Styles - End ***** */

/* ***** Specific Styles - Start ***** */

.switch {
    width: 60px;
    height: 110px;
    padding-top: 2px;
    background-color: #514e4b;
    border-radius: 40px;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.toggle-button {
    transform: scale(0.8);
    transform-origin: center center;
}
.toggle {
    position: relative;
    width: 35px;
    height: 35px;
    margin: 12px;
    margin-top: 12px;
    background-color: #fdb813;
    border-radius: 50%;
}
.moon-mask {
    position: absolute;
    width: 35px;
    height: 35px;
    margin: -74px 0 0 34px;
    background-color: #514e4b;
    border-radius: 50%;
}
.circles-wrapper .circle {
    position: absolute;
    width: 4px;
    height: 8px;
    background-color: #fff;
    border-radius: 10px;
}
.circles-wrapper .circle:first-child {
    margin: -57px 0 0 27px;
}
.circles-wrapper .circle:nth-child(2) {
    margin: -9px 0 0 28px;
}
.circles-wrapper .circle:nth-child(3) {
    margin: -32px 0 0 51px;
    transform: rotate(90deg);
}
.circles-wrapper .circle:nth-child(4) {
    margin: -33px 0 0 4px;
    transform: rotate(90deg);
}
.circles-wrapper .circle:nth-child(5) {
    margin: -14px 0 0 10px;
    transform: rotate(45deg);
}
.circles-wrapper .circle:nth-child(6) {
    margin: -14px 0 0 45px;
    transform: rotate(320deg);
}
.circles-wrapper .circle:nth-child(7) {
    margin: -50px 0 0 10px;
    transform: rotate(135deg);
}
.circles-wrapper .circle:nth-child(8) {
    margin: -50px 0 0 45px;
    transform: rotate(235deg);
}
.text p {
    margin-left: 5px;
    font-size: 55px;
    line-height: 1.1;
    font-weight: 700;
}
.social-icons {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 70px;
}
/* ***** Specific Styles - End ***** */





@media screen and (max-width: 500px) {
    .datepicker-dropdown.datepicker-orient-right:before {
        right: calc(50% - 6px) !important
    }

    .datepicker-dropdown.datepicker-orient-right:after {
        right: calc(50% - 5px) !important
    }
}


/****************** Start Menu *****************/

.section_menu{
    color: var(--orange-color);
    padding: 10em 0 10em;
    background-color: rgba(21, 31, 18, 0.85);
}
.container_menu{
    display: flex;
    align-items: center;
}

/*************** Left Side Menu ****************/
#left_side_menu{
    flex: 1;
    padding: 0 5em 10em 0;
    text-align: right;
}
.text_menu{
    color: gray;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 2em;
}
.button_menu{
    color: var(--orange-color);
    border: 2px solid var(--orange-color);
    padding: 1em 2em 1em 2em;
    font-weight: bold;
}


/*************** Right Side Menu ****************/

#right_side_menu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.img_menu_gallery{
    width: 100%;
    height: 15em;
    object-fit: cover;
}



/************** End Menu **********************/



/************** Start Gallery ******************/

.div_gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.img_gallery{
    width: 100%;
    height: 20em;
    object-fit: cover;
}

/*************** Start Menu Onglets ******************/

.section_multi_menu{
    background-color: rgba(21, 31, 18, 0.9);
    padding: 10em 0 10em;
}

.main_div{
    margin: auto;
}

/***** Onglets ********/
.onglet{
    color: var(--orange-color);
    padding: 0.5em 1em;
    margin: 0 0.5em 0 0.5em;
    cursor: pointer;
    border-bottom: 2px solid var(--orange-color);
}
.onglet:hover{
    background-color: var(--orange-color);
    color: white;
    transition: 1s all ease;
}
.onglet p{
    color: white;
    font-size: 25px;
}
.active{
    background-color: var(--orange-color);
}

/***** Product ********/

.choix_multi_menu{
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
}

.products_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;
    max-width: 80%;
    margin: auto;

}
.products_container:not(.visible){
    display: none;
}


.div_product{
    text-align: center;
    padding: 1em;
}
.img_product{
    width: 100%;
    height: 15em;
    object-fit: cover;
}
.div_product >h3{
    margin-top: 1em;
    font-size: 18px;
    text-transform: uppercase;
}
.product_descrip{
    color: gray;
    line-height: 1.8;
}
.prix{
    font-size: 18px;
    font-weight: 600;
}







/************** Media Query *****************/
@media (max-width: 1200px){
    /*** Menu ***/
    .img_menu_gallery{
        height: 20rem;
    }
    /**** Reservation ****/
    .reservation_flex{
        flex-direction: column;
        align-items: center;
    }
    .container_info{
        width: 100%;
        margin-top: 10em;
    }
    .container_reservation_form{
        width: 100%;
    }
    /***** Menu ****/ 
    .container_menu{
        flex-direction: column;
    }
    #left_side_menu {
        padding: 2em;
        text-align: center;
    }
}


@media screen and (max-width:767.98px) {

    /*** Menu ***/
    .container_info>div{
        flex-direction: column;
        align-items: center;
    }
    /*** Menu ***/
    .section_menu{
        padding: 5em 0 10em;
    }
    #right_side_menu{
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    /*** Gallery ***/
    .div_gallery{
        grid-template-columns: repeat(2, 1fr);
    }
    /*** Product ***/ 
    .products_container{
        grid-template-columns: repeat(2, 1fr);
        max-width: 100%;
    }
}
@media (max-width: 550px){
    /*** Menu ***/
    #right_side_menu{
        grid-template-columns: repeat(1, 1fr);
    }

    /*** Gallery ***/
    .div_gallery{
        grid-template-columns: repeat(1, 1fr);
    }
    /*** Product ***/ 
    .choix_multi_menu{
        flex-direction: column;
        width: 90%;
        margin: auto;
        padding: 0 1em 0 1em;
    }

    .products_container{
        grid-template-columns: repeat(1, 1fr);
        max-width: 90%;
    }
}



/**************** Global CSS **************/
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
textarea {
    resize: none;
}

ul {
    list-style:none;
}



