body{
    background: url(../img/bg/bg5.jpg) no-repeat fixed;
    background-size: cover;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    text-align: left;
}

:root {
    --orange-color: #d38c0b;
    --jaune-color: #186611;
    --cyan-color: #0ec2f7;
    --vert-color: #06a537;  
  }

.wrapper{
    margin: auto;
    max-width: 1224px;
}

/****************** HOME PICTURE DIV   *********/
.section_bg_img{
    background-size: cover;
    height: 15em;
    margin-top: 10em;
}

/*************** Start Menu Onglets ******************/

.section_multi_menu{
    background-color: rgba(21, 31, 18, 0.9);
    padding: 5em 0 15em;
}

.main_div{
    margin: auto;
}

/***** Onglets ********/
.onglet{
    color: var(--orange-color);
    padding: 0.5em 1em;
    margin: 0 0.5em 0 0.5em;
    cursor: pointer;
    border-bottom: 2px solid var(--orange-color);
}
.onglet:hover{
    background-color: var(--orange-color);
    color: white;
    transition: 1s all ease;
}
.onglet p{
    color: white;
    font-size: 25px;
}
.active{
    background-color: var(--orange-color);
}

/***** Product ********/

.choix_multi_menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1.5em;
}

.products_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;
    max-width: 80%;
    margin: auto;
}
.products_container:not(.visible){
    display: none;
}

.div_product{
    text-align: center;
    margin: 1em;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.20);
}
.img_product{
    width: 100%;
    height: 15em;
    object-fit: cover;
    padding-bottom: 1em;
}
.div_product >h3{
    font-size: 18px;
    text-transform: uppercase;
}
.product_descrip{
    color: gray;
    line-height: 1.8;
}
.prix{
    font-size: 18px;
    font-weight: 600;
}






/************** Media Query *****************/
@media (max-width: 1100px){
    .products_container {
        max-width: 95%;
    }
}


@media screen and (max-width:900px) {

    /*** Product ***/ 
    .products_container{
        grid-template-columns: repeat(2, 1fr);
        max-width: 100%;
    }
}
@media (max-width: 550px){
    /*** Product ***/ 
    .choix_multi_menu{
        flex-direction: column;
        width: 90%;
        margin: auto;
        padding: 0 1em 0 1em;
    }

    .products_container{
        grid-template-columns: repeat(1, 1fr);
        max-width: 90%;
    }
}