

*{
    box-sizing: border-box;
}
body{
    background: url(../img/jungle.jpg) no-repeat;
    background-size: cover;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin: 0;
    text-align: left;
}

:root {
    --orange-color: #d38c0b;
    --jaune-color: #186611;
    --cyan-color: #0ec2f7;
    --vert-color: #06a537;  
  }

.wrapper{
    margin: auto;
    max-width: 1224px;
}

/****************** HEADER START  ************************/


/****************** NAV START  ************************/
header{
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
}
.logo{
    width: 5em;
    border-radius: 80%;
}
/* Navbar */
#menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#menu-links a{
    color: #fff;
    margin-left: 0.5em;
    display: inline-block;
    font-size: 20px;
}
#menu-links .ubereat{
    background: rgb(255, 255, 255);
    
    box-shadow: none;
    color:black;
    border-radius: 500px;
    padding: 8px 12px;
}
#burger{
    color: #fff;
    display: none;
    padding: 0.3em 0.3em 0.2em 0.3em;
    border: 2px solid #fff;
    font-size: 1.5em;
    min-width: 42px;
    text-align: center;
    cursor: pointer;
}

.side-spaced{
    padding: 1em 6em;
}

/****************** NAV END  ************************/


/****************** HOME PICTURE DIV   *********/
.section_bg_img{
    background: url(../img/jungle.jpg) fixed;
    background-size: cover;
    height: 60em;
}


/********************  Reservation form ****************/ 

.section_reservation{
    margin-top: -20em;
}

.reservation_div{
    position: relative;
    z-index: 2;
}
.reservation_flex{
    display: flex;
    align-items: flex-end;
}

.container_info{
    padding: 2em;
    background-color: black;
    width: 60%;
}
.info{
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}

/******* Form Reservation ******/ 
.container_reservation_form{
    background-color: var(--jaune-color);
    padding: 1.5rem;
    width: 40%;
    
}

.reservation_form .container_input{
    position: relative;
    width: 100%;
    display: block;
    margin-bottom: 1em;
}
/*****  inputs *****/
.reservation_form .reserv_inputs{
    width: 100%;
    border: transparent ;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) ;
    height: 58px ;
    padding-left: 0;
    background: transparent ;
    color: white;
    font-size: 13px;
}
.reservation_form .reserv_inputs::placeholder {
    color: white;
    font-size: 15px;
}

.container_input_icon{
    position: relative;
}


.reservation_form .container_input .icon{
    position: absolute;
    top: 50% ;
    right: 10px;
    transform: translateY(-50%);
}
.reservation_form .container_input .icon i{
    font-size: 20px;
}

.btn_valide{
    width: 100%;
    cursor: pointer;
    background: #fff;
    border: 1px solid #fff;
    color: #000;
}


/*********** DATE PICKER ****************/

.input-group {
    border-radius: 5px;
}

input.form-control {
    border-radius: 5px 0 0 5px;
    border: solid 1px rgba(0,0,0,.15);
    border-right: none;
}

input.form-control:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.15);
}

input.form-control::placeholder {
    font-family: 'Open sans', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
}

.input-group-append {
    border: solid 1px rgba(0,0,0,.15);
    border-left: none;
    border-radius: 0 5px 5px 0;
}

.input-group-text {
    border-radius: 0 5px 5px 0;
    color: #04c;
    background-color: #fff;
    border: none;
}

/*
*
* ==========================================
* PERSONNALISATION DU CALENDRIER
* ==========================================
*
*/
.datepicker-dropdown {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2.5em;
    margin-top: 2.5em;
    
}
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover{
    color: rgb(185, 0, 0);
    
}
.datepicker td{
    color: #12c402;
}


.datepicker {
    padding: 0;
}

.datepicker td, .datepicker th {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
}

.datepicker-dropdown:after {
    border-bottom-color: #08c;
}

.datepicker-days .table-condensed thead tr:nth-child(2), .datepicker-months .table-condensed thead tr:nth-child(2),
.datepicker-years .table-condensed thead tr:nth-child(2), .datepicker-decades .table-condensed thead tr:nth-child(2),
.datepicker-centuries .table-condensed thead tr:nth-child(2) {
    background: linear-gradient(to bottom,#08c,#04c);
    color: #fff;
}
.datepicker-days .table-condensed thead tr:nth-child(2) th:hover, .datepicker-months .table-condensed thead tr:nth-child(2) th:hover,
.datepicker-years .table-condensed thead tr:nth-child(2) th:hover,.datepicker-decades .table-condensed thead tr:nth-child(2) th:hover,
.datepicker-centuries .table-condensed thead tr:nth-child(2) th:hover {
    background: linear-gradient(to bottom,#08c,#04c);
    color: #fff;
}

.datepicker-days .table-condensed tfoot, .datepicker-months .table-condensed tfoot, .datepicker-years .table-condensed tfoot,
.datepicker-decades .table-condensed tfoot, .datepicker-centuries .table-condensed tfoot {
    border-top: solid 1px rgba(0,0,0,.15);
}



/****************** Start Menu *****************/

.section_menu{
    color: var(--orange-color);
    padding: 10em 0 10em;
    background-color: rgba(21, 31, 18, 0.85);
}
.container_menu{
    display: flex;
    align-items: center;
}

/*************** Left Side Menu ****************/
#left_side_menu{
    flex: 1;
    padding: 0 5em 10em 0;
    text-align: right;
}
.text_menu{
    color: gray;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 2em;
}
.button_menu{
    color: var(--orange-color);
    border: 2px solid var(--orange-color);
    padding: 1em 2em 1em 2em;
    font-weight: bold;
}


/*************** Right Side Menu ****************/

#right_side_menu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.img_menu_gallery{
    width: 100%;
    height: 15em;
    object-fit: cover;
}



/************** End Menu **********************/



/************** Start Gallery ******************/

.div_gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.img_gallery{
    width: 100%;
    height: 20em;
    object-fit: cover;
}

/*************** Start Menu Onglets ******************/

.section_multi_menu{
    background-color: rgba(21, 31, 18, 0.9);
    padding: 10em 10em;
}

.main_div{
    margin: auto;
}

/***** Onglets ********/
.onglet{
    color: var(--orange-color);
    padding: 0.5em 1em;
    margin: 0 0.5em 0 0.5em;
    cursor: pointer;
    border-bottom: 2px solid var(--orange-color);
}
.onglet:hover{
    background-color: var(--orange-color);
    color: white;
    transition: 1s all ease;
}
.onglet p{
    color: white;
    font-size: 25px;
}
.active{
    background-color: var(--orange-color);
}

/***** Product ********/

.choix_multi_menu{
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
}

.products_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;
    max-width: 80%;
    margin: auto;

}
.products_container:not(.visible){
    display: none;
}


.div_product{
    text-align: center;
    padding: 1em;
}
.img_product{
    width: 100%;
    height: 15em;
    object-fit: cover;
}
.div_product >h3{
    font-size: 18px;
    text-transform: uppercase;
}
.product_descrip{
    color: gray;
    line-height: 1.8;
}
.prix{
    font-size: 18px;
    font-weight: 600;
}

/**************** Start Footer *********************/

footer{
    background-color: #000;
    color: white;
}
.div_footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2em;
}





/************** Media Query *****************/
@media (max-width: 1200px){
    /*** Menu ***/
    .img_menu_gallery{
        height: 20rem;
    }
    /**** Reservation ****/
    .reservation_flex{
        flex-direction: column;
        align-items: center;
    }
    .container_info{
        width: 100%;
        margin-top: 10em;
    }
    .container_reservation_form{
        width: 100%;
    }
    /***** Menu ****/ 
    .container_menu{
        flex-direction: column;
    }
    #left_side_menu {
        padding: 2em;
        text-align: center;
    }
}


@media screen and (max-width:767.98px) {

    /*** Menu ***/
    .container_info>div{
        flex-direction: column;
        align-items: center;
    }
    /*** Menu ***/
    .section_menu{
        padding: 5em 0 10em;
    }
    #right_side_menu{
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    /*** Gallery ***/
    .div_gallery{
        grid-template-columns: repeat(2, 1fr);
    }
    /*** Product ***/ 
    .products_container{
        grid-template-columns: repeat(2, 1fr);
        max-width: 100%;
    }
    /*** Footer ***/
    .div_footer{
        grid-template-columns: repeat(2, 1fr);
        padding: 1em;
    }


    /***** Menu burger ****/
    #burger{
        display: block;
    }
    
    #menu-links{
        transform: scaleY(0);
        transform-origin: top;
        overflow: hidden;
        width: 100%;
        background-color: transparent;
        text-align: center;
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 0;
        transition: line-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
        line-height: 0;
        padding: 0 1em;
        opacity: 0;
    }
    #menu-links.slideDown{
        transform: scaleY(1);
        line-height: 1.5;
        opacity: 1;
    }
    #menu-links a{
        display: block;
        margin: 0.5em 0 0.5em 0.5em;
    }

    .side-spaced{
        padding: 1em;
    }

}
@media (max-width: 550px){
    /*** Menu ***/
    #right_side_menu{
        grid-template-columns: repeat(1, 1fr);
    }

    /*** Gallery ***/
    .div_gallery{
        grid-template-columns: repeat(1, 1fr);
    }
    /*** Product ***/ 
    .choix_multi_menu{
        flex-direction: column;
        width: 90%;
        margin: auto;
        padding: 0 1em 0 1em;
    }

    .products_container{
        grid-template-columns: repeat(1, 1fr);
        max-width: 90%;
    }
    
    /*** Footer ***/
    .div_footer{
        grid-template-columns: repeat(1, 1fr);
        max-width: 80%;
        margin: auto;
    }
    .div_footer>div{
        padding-bottom: 1em;
    }
}



/**************** Global CSS **************/
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
textarea {
    resize: none;
}

ul {
    list-style:none;
}
h3{
    font-size: 18px !important;
}



